doctype html
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title HEALFORM Live Appointments
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/socket.io.js')
    script(src='js/jquery.min.js')
.vertical-centered
    h1
        span.infoMessage
    span.subline Willkommen zu deinem HEALFORM-Termin.
script.
    const socket = io();

    $(document).ready(function () {
        if ($('.infoMessage').is(':empty')) {
            $('.infoMessage').prepend('<img src="img/loading.gif" style="width: 24px;" />')
        }
    });

    socket.on('currentAppointment', function(message) {
        $('.infoMessage').text(message.result);
        if (message.isAppointment) {
            $('.subline').show();
        } else {
            $('.subline').hide();
        }
    });
