body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background: #3e7dca;
  font-size: 150%;
}

.vertical-centered {
  padding: 1em 2em;
  background: #fff;
  max-width: 70%;
  text-align: center;
  display: block !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px !important;
  border-radius: 8px !important;
  text-decoration: none !important;
}

sup {
  font-size: 30px;
}
