body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 150%;
  background: #3e7dca url('../img/polygon_bg.png') repeat 0 0;
  -webkit-animation: 30s linear 0s normal none infinite animate;
  -moz-animation: 30s linear 0s normal none infinite animate;
  -ms-animation: 30s linear 0s normal none infinite animate;
  -o-animation: 30s linear 0s normal none infinite animate;
  animation: 30s linear 0s normal none infinite animate;
}

@-webkit-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
}

@-moz-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
}

@-ms-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
}

@-o-keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
}

@keyframes animate {
  from {background-position:0 0;}
  to {background-position: 500px 0;}
}

.vertical-centered {
  padding: 3rem;
  background: #fff;
  max-width: 70%;
  text-align: center;
  display: block !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px !important;
  border-radius: 15px !important;
  text-decoration: none !important;
}

h1 {
  margin: 0;
}

.subline {
  margin: 1rem 0 0;
  display: block;
  position: relative;
  display: none;
}
